*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-banner-inicio-vacio{
  margin-top: -60px;
  margin-bottom: -120px;
}

.div-banner-inicio-vacio img{
  width: 100%;
  height: 360px;
}

.conteiner-general-inicio{
  display: flex;
  padding-top: 130px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width:1000px) {
  .conteiner-general-inicio{
    padding-top: 120px;
  }
}



/* Imagenes dentro del banner */
.img-prod-banner {
  width: 300px; /* Ajusta el tamaño de la imagen a un 50% del contenedor */
  height: 300px;
  border-radius: 10px;
}

/* Texto y precio del producto en el banner */


@media screen and (max-width: 768px) {
  .conteiner-banner-inicio {
    height: 40vh; /* Reduce la altura en pantallas más pequeñas */
  }

  .precio-producto-banner {
    font-size: 18px; /* Ajusta el tamaño del texto en pantallas pequeñas */
  }
}

.slide-container-banner{
  padding-top: 20px;
  width: 500px;
  }

  @media (max-width:650px) {
    .slide-container-banner{
      width: 300px;
    }
  }
  

.div-img-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.precio-producto-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 300px;
  align-items: center;
}

.texto-Banner{
  background-color: rgba(0, 0, 0, 0.8); /* Negro con transparencia */
  color: white;
  padding: 5px;
  width: 300px;
  border-radius: 4px;
  text-align: center;
}

.precio-banner {
  font-weight: 900;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.30);
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8); /* Negro con transparencia */
  border-radius: 4px;
  width: 292px;
}


.precio-banner:hover {
  transform: translateY(-5px) scale(1.03); /* Desplazamiento y zoom sutil en hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más marcada en hover */
}




/*cards tipos de productos*/


.conteiner-cards-inicio{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.card-inicio-top3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  cursor: pointer;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Sombra marcada */
  background-size: cover; /* Ajusta para que la imagen cubra toda la card */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat;
}

.card-inicio-top3 h3{
background-color: rgb(129, 180, 121);
padding: 8px;
color: white;
border-radius: 10px;
}

.fa-exclamation-circle{
  margin-right: 5px;
  color: orange;
  font-size: 24px;
}

.refrigerados {
  background-image: url('/imagenes/Refrigerados-img-inicio.jpg');
}

.alacena {
  background-image: url('/imagenes/Alacena-img-inicio.jpg');
}

.congelados {
  background-image: url('/imagenes/Congelados-img-inicio.jpg');
}

.div-banner-general-slide{
  width: 100%;
  background-image: url('/imagenes/img-fondo.png'); /*COMPLETAR IMG PARA EL FONDO DEL BANNER*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width:1140px) {
  .card-inicio-top3{
      width: 270px;
  }
}

@media (max-width:900px) {
  .card-inicio-top3{
      width: 220px;
  }
}

@media (max-width:750px) {
  .card-inicio-top3{
      width: 340px;
  }

  .conteiner-cards-inicio{
      display: flex;
      flex-direction: column;
  }
}

/*banner informativo que separa secciones*/

.container-banner-info-inicio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 250px;
  background-color: rgb(129, 180, 121);
  padding: 0px 150px;
}

.card-banner-info-inicio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
}

.card-banner-info-inicio h3{
  text-align: center;
  min-width: 200px;
}

.card-banner-info-inicio p{
  text-align: center;
}

.fa-credit-card{
  font-size: 20px;
}

.fa-store{
  font-size: 20px;
}

.fa-truck{
  font-size: 20px;
}

@media (max-width:1300px) {
  .container-banner-info-inicio{
      padding: 20px;
      gap: 30px;
  }
}



@media (max-width:860px) {
  .container-banner-info-inicio{
      flex-direction: column;
      justify-content: center;
      display: flex;
      gap: 60px;
      padding: 20px;
  }
}

/*seccion productos destacados*/

.seccion-prod-destacados{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container-h2-prod-destacados{
  display: flex;
  width: 100%;
  padding: 20px;
}

.titulo-pre-banner{
  text-align: start;
  text-transform: uppercase;
}

@media (max-width:800px) {
  .titulo-pre-banner{
      font-size: 17px;
      max-width: 70%;
  }
}

.productos-destacados{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.card-producto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;    
  padding: 10px;
  border-radius: 10px;
}

.precios-promo{
  display: flex;
  gap: 20px;
}

.precio-viejo-promo{
  text-decoration: line-through;
}

.img-producto-card{
  height: 150px;
  width: 150px;
  border-radius: 4px;
}

.botones-card-producto{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.botones-card-producto button{
  padding: 10px;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: rgb(0, 0, 0) ;
  font-size: 14px;
}

.botones-card-producto button:hover{
  background-color: rgb(78, 77, 77);
}

@media (max-width:480px) {
  .botones-card-producto button{
      font-size: 12px;
  }
}

.nombre-producto-card{
  max-width: 300px;
  font-size: 18px;
  text-transform: lowercase;
}

.nombre-producto-card::first-letter{
text-transform: uppercase;
}

.precio-producto-card{
  color: #2d4d33;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-pasos-compra{
  width: 100%;
}

.container-titulo-pasos-compra{
  padding: 20px;
}

.container-banner-compra{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
  gap: 40px;
  background-color: rgb(129, 180, 121);
  padding: 0px 150px;
}

@media (max-width:1350px) {
  .container-banner-compra{
      display: flex;
      padding:  20px;
  }

}

@media (max-width:1050px) {
  .container-banner-compra{
      display: flex;
      flex-wrap: wrap;        
  }

}

.card-banner-compra{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 355px;
  text-align: center;
  text-transform: uppercase;
  height: 160px;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid wheat;
}

/*Sección marcas destacadas*/

.h2-marcas-destacadas{
  padding: 20px;
}

.seccion-marcas-destacadas {
  width: 100%;
}

.marcas-dest-alerta{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-marcas-destacadas{
  margin: 0 auto;
}

.marcas-destacadas-wrapper {
  overflow-x: auto;
  padding-bottom: 10px;
}

.marcas-destacadas {
  display: flex; 
  overflow-x: auto;
  scrollbar-width: thin; 
  width: 100%;
  gap: 20px;
  padding: 20px;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.card-marca-destacadas {
  flex: 0 0 auto; /* Evita que las tarjetas se encogan */
  width: 130px;
  height: 130px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  cursor: pointer;
}

.card-marca-destacadas img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


/*Instagram inicio*/

.container-instagram-inicio{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 80px 0px;
}

.instagram-inicio-tooltip-container {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  border-radius: 10px;
}

.instagram-inicio-tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 15px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.instagram-inicio-profile {
  background: #2a2b2f;
  border-radius: 10px 15px;
  padding: 10px;
  border: 1px solid #52382f;
}

.instagram-inicio-tooltip-container:hover .instagram-inicio-tooltip {
  top: -160px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.instagram-inicio-icon {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

.instagram-inicio-layer {
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}

.instagram-inicio-icon:hover .instagram-inicio-layer {
  transform: rotate(-35deg) skew(20deg);
}

.instagram-inicio-layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 15px;
  transition: all 0.3s;
}

.instagram-inicio-layer span,
.instagram-inicio-text {
  color: #e6683c;
  border-color: #e6683c;
}

.instagram-inicio-icon:hover .instagram-inicio-layer span {
  box-shadow: -1px 1px 3px #e6683c;
}

.instagram-inicio-icon .instagram-inicio-text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}

.instagram-inicio-icon:hover .instagram-inicio-text {
  bottom: -35px;
  opacity: 1;
}

.instagram-inicio-icon:hover .instagram-inicio-layer span:nth-child(1) {
  opacity: 0.2;
}

.instagram-inicio-icon:hover .instagram-inicio-layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.instagram-inicio-icon:hover .instagram-inicio-layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.instagram-inicio-icon:hover .instagram-inicio-layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}

.instagram-inicio-icon:hover .instagram-inicio-layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);

}

.instagram-inicio-instagramSVG {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.instagram-inicio-user {
  display: flex;
  gap: 10px;
}

.instagram-inicio-img {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  border: 1px solid #e6683c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.instagram-inicio-name {
  font-size: 17px;
  font-weight: 700;
  color: #e6683c;
  text-align: start;
}

.instagram-inicio-details {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #fff;
}

.instagram-inicio-about {
  color: #ccc;
  padding-top: 5px;
}

.dots-container-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dot-inicio {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot-inicio:last-child {
  margin-right: 0;
}

.dot-inicio:nth-child(1) {
  animation-delay: -0.3s;
}

.dot-inicio:nth-child(2) {
  animation-delay: -0.1s;
}

.dot-inicio:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}
