<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  * { font-family: Poppins, system-ui; padding: 0px; margin: 0px; }
</style>
<div
  class='container-content'
  style='display: flex; align-items: center; justify-content: center;'
>
  <div
    class='card'
    style='border-radius: 10px; background-color: white; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); text-align: center; padding: 40px 30px; width: auto;'
  >
    <div class='card-header'>
      <h1><strong>Bienvenido a NaturalCycle</strong></h1>
    </div>
    <div class='card-body'>
      {{! <img
        src='https://res.cloudinary.com/djkjuzzz6/image/upload/v1728568985/NaturalCycle-recursos/welcome_image.png'
        class='my-3'
        alt='Welcome'
        style='margin-top: 30px; width: 150px; height: 150px;'
      /> }}
      <h2 class='my-3' style='margin: 30px 0px;'>Hola {{name}},</h2>
      <p style='padding: 0px; margin: 0px;'>Gracias por registrarte en
        NaturalCycle.</p>
      <p style='padding: 0px; margin: 0px;'>Tu cuenta se encuentra en proceso de
        aprobación.</p>
      <p style='padding: 0px; margin: 0px;'>Te notificaremos a la brevedad
        cuando sea activada.</p>
      <p style='margin-top: 30px; font-size: 0.9rem; color: #777;'>
        Si tienes alguna duda o consulta, no dudes en contactarnos. ¡Gracias por
        registrarte a nuestro sitio web!
      </p>
    </div>
  </div>
</div>