NODE_ENV=prod
PORT=3000
JWT_SECRET=fed9c1fae110aef72559c2fc1d9c9fb2
JWT_EXPIRY=4h
POSTGRES_USER=admin
POSTGRES_PASSWORD=naturalcycle
POSTGRES_DB=naturalcycle-db
POSTGRES_PORT=5432
DB_HOST=db
CLOUDINARY_NAME=djkjuzzz6
CLOUDINARY_API_KEY=272538245151174
CLOUDINARY_API_SECRET=LJHX6xQQUW7Fnp8vQvruoNkXRgw
EMAIL_HOST=smtp.zoho.eu
EMAIL_USER=contacto@naturalcycle.com.ar
EMAIL_PASSWORD=Veggie24.
EMAIL_FROM=contacto@naturalcycle.com.ar
EMAIL_PORT=587
FRONTEND_URL=https://naturalcycle.com.ar/
BACKEND_URL=https://naturalcycle.com.ar/api/