/* Estilos generales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos de la sección superior del panel de administración */
.div-superior-panel-admin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 230px 10px 20px;
  align-items: center;
}

/* Contenedor principal del panel de administración */
.panel-admin {
  display: flex;
  padding: 25px;
  align-items: flex-start;
  transition: transform 0.3s ease;
  
}

/* Estilos del menú lateral */
.menu-lateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  transition: transform 0.3s ease; /* Suaviza la transición */
  padding: 20px; /* Espaciado interno */
}

.menu-lateral h2 {
  text-transform: uppercase;
  margin-bottom: 20px; /* Espacio debajo del título */
}

/* Lista del menú */
.menu-lateral ul {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
  text-align: center;
  list-style: none;
}

.menu-lateral li a {
  color: black;
  text-decoration: none;
  transition: color 0.3s; /* Suaviza el cambio de color */
}

.menu-lateral li a:hover {
  color: #798a3f;
}

/* Estilos para mostrar el menú lateral */


/* Botón del menú hamburguesa */
.menu-toggle-btn {
  background-color: #798a3f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: none; /* Solo se mostrará en pantallas pequeñas */
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 900px) {
  .menu-toggle-btn {
    display: block; /* Mostrar botón en pantallas pequeñas */
  }

  .div-superior-panel-admin{
    padding-top: 120px;
    justify-content: flex-start;
    width: 110%;
  }

  .div-superior-panel-admin2{
    padding-top: 300px;
    justify-content: center;
    align-items: center;
  }

  /* Ocultar el panel administrativo en pantallas pequeñas por defecto */
  .panel-admin {
    display: none; /* El panel principal no se muestra en pantallas pequeñas */
  }

  .panel-admin-open {
    display: flex; /* Mostrar el panel cuando está abierto */
  }

  .menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%); /* Inicia fuera de la vista */
    transition: transform 0.3s ease; /* Suaviza la transición */
    padding: 20px; /* Espaciado interno */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }

  .menu-lateral-open {
    transform: translateX(0); /* Menú se abre suavemente */
  }
}