.div-gral-panel-principal {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 144px);
}

.panel-inicio-info {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 20px;
  background-color: rgb(241, 241, 241);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px;
  border-radius: 10px;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

.panel-inicio-info h1 {
  text-align: center;
}

.panel-inicio-info p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

@media (max-width:900px) {
  .div-gral-panel-principal {
    flex-direction: column;
  }

  .panel-inicio-info {
    margin-bottom: 330px;
  }
}

.div-general-categoria-panel {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 144px) ;
}


.div-general-categoria-panel h3 {
  margin-bottom: 10px;
}



@media (max-width:900px) {
  .div-general-categoria-panel {
    flex-direction: column;
    height: auto;
  }
}


/* Container for the create product section */

.crear-producto-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: #ffffff;
  /* White background for contrast */
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Soft shadow */
  width: 100%;
}

.panel-margin-necesario{
  margin-bottom: 85px;
}

.button-volver-panel-producto {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
}

/* Header styling */
.crear-producto-header {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
}

/* Input styling */
.crear-producto-input,
.crear-producto-textarea,
.crear-producto-select {
  width: 100%;
  /* Full width inputs */
  padding: 10px;
  /* Padding inside inputs */
  margin-bottom: 15px;
  /* Space between inputs */
  border: 1px solid #dddddd;
  /* Light border */
  border-radius: 4px;
  /* Rounded corners */
  font-size: 16px;
  /* Font size for inputs */
  font-family: Arial, Helvetica, sans-serif;
  transition: border-color 0.2s;
  /* Smooth border color transition */
}

/* Input focus effect */
.crear-producto-input:focus,
.crear-producto-textarea:focus,
.crear-producto-select:focus {
  border-color: #798a3f;
  /* Change border color on focus */
  outline: none;
  /* Remove default outline */
}

/* Textarea styling */
.crear-producto-textarea {
  height: 100px;
  /* Set height for textarea */
  resize: vertical;
  /* Allow vertical resizing */
}

/* Label styling */
.crear-producto-label {
  font-size: 18px;
  /* Font size for labels */
  margin-bottom: 10px;
  /* Space below labels */
  color: #333333;
  /* Darker text color */
}

.productos-lista-panel {
  /* Habilita el scroll vertical si es necesario */
  padding: 0;
  /* Remueve el padding para que se vea limpio */
  list-style: none;
  /* Remueve el estilo de lista predeterminado */
}


.lista-productos-creados {
  padding: 0;
  /* Remueve el padding para que se vea limpio */
  list-style: none;
  /* Remueve el estilo de lista predeterminado */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 15px;
}


/* Checkbox styling */
.crear-producto-checkbox {
  margin-right: 10px;
  /* Space between checkbox and label */
}

/* Button styling */
.crear-producto-button {
  padding: 12px 20px;
  /* Padding for button */
  background-color: #798a3f;
  /* Button color */
  color: #ffffff;
  /* White text color */
  width: 200px;
  border: none;
  /* Remove border */
  border-radius: 4px;
  /* Rounded corners */
  font-size: 17px;
  /* Font size for button */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: background-color 0.3s;
  /* Smooth background color transition */
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .crear-producto-container {
    padding: 20px;
    /* Reduce padding on smaller screens */
  }

  .crear-producto-header {
    font-size: 24px;
    /* Slightly smaller header on mobile */
  }

  .crear-producto-input,
  .crear-producto-textarea,
  .crear-producto-select {
    font-size: 14px;
    /* Smaller font size for inputs */
  }

  .crear-producto-label {
    font-size: 16px;
    /* Smaller font size for labels */
  }

  .crear-producto-button {
    font-size: 14px;
    /* Smaller font size for button */
  }
}

/* Container for the filtering section */
.crear-filtrado-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 209px;
  gap: 20px;
  background-color: #ffffff;
  /* White background for contrast */
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Soft shadow */
  width: 100%;
}

@media (max-width:900px) {
  .crear-filtrado-container {
    margin: 0;
  }
}

.select-tipo-filtrado {
  margin-left: 5px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #ddd;
}

/* Header styling */
.crear-filtrado-header {
  font-size: 28px;
  /* Larger font size for the header */
  margin-bottom: 20px;
  /* Space below the header */
  color: #333333;
  /* Darker text color for readability */
  font-family: 'Montserrat', sans-serif;
  /* Professional font */
}

/* Subheader styling */
.crear-filtrado-subheader {
  font-size: 24px;
  /* Slightly smaller font size for subheader */
  margin-bottom: 15px;
  /* Space below the subheader */
  color: #5e17eb;
  /* Purple color for subheader */
}

/* Button styling */
.crear-filtrado-button {
  padding: 10px 15px;
  background-color: #798a3f;
  color: #ffffff;
  border: none;
  margin-top: 5px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 5px;
}

.agregar-producto {
  width: 240px;
}

@media (max-width:640px) {
  .tipo-filtrado {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/* Input styling */
.crear-filtrado-input {
  width: 100%;
  /* Full width input */
  padding: 10px;
  /* Padding inside input */
  margin-bottom: 15px;
  /* Space below input */
  border: 1px solid #dddddd;
  /* Light border */
  border-radius: 4px;
  /* Rounded corners */
  font-size: 16px;
  /* Font size for input */
  transition: border-color 0.2s;
  /* Smooth border color transition */
}

/* Input focus effect */
.crear-filtrado-input:focus {
  border-color: #798a3f;
  /* Change border color on focus */
  outline: none;
  /* Remove default outline */
}

.crear-filtrado-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.crear-filtrado-form ul li {
  list-style: none;
  gap: 10px;
}

.div-ul-prod-editar ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-ul-prod-editar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.crear-filtrado-checkbox label {
  display: flex;
  gap: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .crear-filtrado-container {
    padding: 20px;
    /* Reduce padding on smaller screens */
  }

  .crear-filtrado-header {
    font-size: 24px;
    /* Slightly smaller header on mobile */
  }

  .crear-filtrado-input {
    font-size: 14px;
    /* Smaller font size for input */
  }

  .crear-filtrado-button,
  .crear-filtrado-save-button {
    font-size: 14px;
    /* Smaller font size for buttons */
  }
}


.productos-creados-container {
  padding: 20px;
  width: 100%;
  height: 100%;
  align-self: flex-start;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.productos-creados-container > div:last-child { 
  flex: 1;
  overflow-y: auto;
}


.productos-lista-panel {
  list-style: none;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-abrir-crear-producto {
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  border: 2px solid #798a3f;
  cursor: pointer;
  background-color: transparent;
}

.productos-lista-panel img {
  width: 130px;
  height: 130px;
  margin-right: 20px;
  border-radius: 10px;
}

.lista-productos-creados img {
  width: 130px;
  height: 130px;
  margin-right: 20px;
  border-radius: 10px;
}

.producto-item-panel {
  display: flex;
  align-items: center;
  /* Alinear verticalmente los elementos */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #ffffff;
  list-style: none;
  transition: box-shadow 0.3s;
}

.producto-item-panel:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div-img-marca-panel {
  display: flex;
  align-items: center;
}

.img-marca-panel {
  height: 90px;
  margin: 0px 20px;
  width: 90px;
}

.producto-detalles {
  flex: 1;
  /* Permite que los detalles ocupen el espacio restante */
  text-align: left;
  /* Alinear texto a la izquierda */
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.producto-detalles h3 {
  text-transform: uppercase;
  font-size: 16px;
}

.producto-detalles p {
  text-transform: lowercase;
  position: relative;
  font-size: 14px;
}

.producto-detalles p::first-letter {
  text-transform: uppercase;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .productos-lista-panel {
    flex-direction: column;
    /* Cambiar a columna en pantallas pequeñas */
  }

  .lista-productos-creados {
    flex-direction: column;
  }

  .producto-item-panel {
    flex-direction: column;
    /* Cambiar a columna en pantallas pequeñas */
    align-items: flex-start;
    /* Alinear los elementos a la izquierda */
  }

  .producto-imagen {
    margin-bottom: 10px;
    /* Espacio debajo de la imagen en pantallas pequeñas */
  }
}

.buscar-producto-input {
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.div-filtrados-creados {
  padding: 10px;
  background-color: #f9f9f9;
  /* Color de fondo claro */
  border-radius: 10px;
  display: flex;
  /* Bordes redondeados */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
}

.div-filtrados-creados h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  /* Color del título */
}

.div-filtrados-creados h3 {
  font-size: 20px;
  font-weight: semi-bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000000;
  /* Color de las subtítulos */
  border-bottom: 2px solid #798a3f;
  /* Línea debajo del subtítulo */
  padding-bottom: 5px;
  /* Espacio debajo del subtítulo */
}

.div-filtrados-creados ul {
  list-style-type: none;
  /* Sin viñetas */
  padding: 0;
  /* Sin padding */
  margin: 0;
  /* Sin margin */
}


.div-filtrados-creados strong {
  flex: 1;
  /* Tomar espacio restante */
  color: #333;
  /* Color del texto fuerte */
}


/* Container for the user area */
.area-usuarios-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #ffffff;
  /* White background for contrast */
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Soft shadow */
  width: 100%;

  height: 100%;
  align-self: flex-start;
}

@media (max-width:900px) {
  .area-usuarios-container {
    margin-top: 70px;
    margin-bottom: 200px;
  }
}

/* Header styling */
.area-usuarios-header {
  font-size: 28px;
  /* Larger font size for the header */
  margin-bottom: 20px;
  /* Space below the header */
  color: #333333;
  /* Darker text color for readability */
  font-family: 'Montserrat', sans-serif;
  /* Professional font */
}

/* Input styling */
.area-usuarios-input {
  width: 50%;
  /* Full width input */
  padding: 10px;
  /* Padding inside input */
  margin-bottom: 15px;
  /* Space below input */
  border: 1px solid #dddddd;
  /* Light border */
  border-radius: 4px;
  /* Rounded corners */
  font-size: 16px;
  /* Font size for input */
  transition: border-color 0.2s;
  /* Smooth border color transition */
}

/* Input focus effect */
.area-usuarios-input:focus {
  border-color: #798a3f;
  /* Change border color on focus */
  outline: none;
  /* Remove default outline */
}

/* Toggle button styling */
.area-usuarios-toggle-button {
  padding: 12px 20px;
  /* Padding for toggle button */
  background-color: #798a3f;
  /* Button color */
  color: #ffffff;
  /* White text color */
  border: none;
  /* Remove border */
  border-radius: 4px;
  /* Rounded corners */
  font-size: 17px;
  /* Font size for toggle button */
  width: 50%;
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: background-color 0.3s;
  /* Smooth background color transition */
  margin-bottom: 20px;
  /* Space below toggle button */
}

/* Scrollable container */
.area-usuarios-scrollable-container {
  overflow-y: auto;
  padding-right: 15px;
}

/* Toggle button hover effect */
.area-usuarios-toggle-button:hover {
  background-color: #2b7643;
}

/* List of users */
.area-usuarios-list {
  display: flex;
  flex-direction: column;
  /* Vertical stacking of users */
}

/* User item styling */
.area-usuarios-item {
  display: flex;
  justify-content: space-between;
  /* Space between name and button */
  align-items: center;
  /* Center vertically */
  padding: 10px;
  /* Padding around user item */
  border-bottom: 1px solid #eeeeee;
  /* Light border below each item */
}

/* User name styling */
.area-usuarios-name {
  font-size: 18px;
  /* Font size for user name */
  color: #333333;
  /* Darker color for user name */
  cursor: pointer;
}

/* Button styling for approving */
.area-usuarios-approve-button,
.area-usuarios-return-button {
  padding: 10px 15px;
  /* Padding for buttons */
  background-color: #798a3f;
  /* Button color */
  color: #ffffff;
  /* White text color */
  border: none;
  /* Remove border */
  border-radius: 4px;
  /* Rounded corners */
  font-size: 17px;
  /* Font size for buttons */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: background-color 0.3s;
  /* Smooth background color transition */
}

/* Button hover effect */
.area-usuarios-return-button:hover {
  background-color: #a32014;
  /* Darker shade on hover */
}

.area-usuarios-approve-button:hover {
  background-color: #2b7643;
}


.usuario-detalle-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  justify-content: center;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.usuario-detalle-card:hover {
  transform: translateY(-2px);
}

.usuario-detalle-title {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #000000;
  /* Color del título */
  text-align: center;
  /* Centrar el título */
}

.usuario-detalle-info {
  flex-grow: 1;
  /* Permite que esta sección crezca */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.usuario-detalle-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  /* Espaciado entre filas */
  border-bottom: 1px solid #f0f0f0;
  /* Línea divisoria */
}

.usuario-detalle-row:last-child {
  border-bottom: none;
  /* Eliminar línea en la última fila */
}

.estado-aprobado {
  color: green;
  /* Color para estado aprobado */
  font-weight: bold;
}

.estado-pendiente {
  color: orange;
  /* Color para estado pendiente */
  font-weight: bold;
}

.usuario-detalle-close-button {
  margin-top: 10px;
  margin: 0 auto;
  padding: 10px 15px;
  width: 240px;
  background-color: #798a3f;
  /* Color de fondo */
  color: rgb(255, 255, 255);
  /* Color del texto */
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.usuario-detalle-close-button:hover {
  background-color: #99af50;
  /* Color al pasar el mouse */
}

.close-btn {
  display: none;
}

@media (max-width:900px) {

  /* Botón de cierre en el menú lateral */
  .close-btn {
    background: transparent;
    border: none;
    display: block;
    color: #798a3f;
    /* Color del texto */
    font-size: 34px;
    /* Tamaño del texto */
    cursor: pointer;
    align-self: flex-end;
    /* Alinear a la derecha */
    margin-bottom: 40px;
    /* Espacio debajo del botón */
    transition: color 0.3s;
    /* Transición suave para el color */
  }
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .area-usuarios-container {
    padding: 20px;
    /* Reduce padding on smaller screens */
  }

  .area-usuarios-header {
    font-size: 24px;
    /* Slightly smaller header on mobile */
  }

  .area-usuarios-input {
    font-size: 14px;
    /* Smaller font size for input */
  }

  .area-usuarios-toggle-button,
  .area-usuarios-approve-button,
  .area-usuarios-return-button {
    font-size: 14px;
    /* Smaller font size for buttons */
  }

}

.area-pedidos {
  padding: 20px;
  background-color: #ffffff;
  /* Color de fondo claro para distinguir el área */
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Soft shadow */
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.area-pedidos > div:last-child {
  flex: 1;
  overflow-y: auto;
}

.icono-boton-eliminar {
  background-color: transparent;
  border: none;
  font-size: 18px;
}

@media (max-width:900px) {
  .area-pedidos {
    margin-top: 0px;
  }
}

.titulo-area {
  font-size: 28px;
  /* Tamaño de fuente para el título */
  margin-bottom: 20px;
  /* Margen inferior para separar el título del resto del contenido */
  color: #333;
  /* Color del texto del título */
  font-family: 'Montserrat', sans-serif;
  /* Professional font */
}

.filtros {
  margin-bottom: 20px;
  /* Espacio debajo de los filtros */
}

.filtro-select-panel {
  padding: 6px;
  border-radius: 10px;
}

.icono-accion {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 17px;
  border: none;
  margin: 3px;
  cursor: pointer;
  color: #798a3f;
}

.icono-accion-link {
  color: #798a3f;
}

.pedido-acciones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pedido-item-panel {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.accion-boton {
  padding: 6px;
  border-radius: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.producto-item-panel-2 {
  display: flex;
  align-items: center;
}

.pedido-detalles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

@media (max-width:1345px) {
  .pedido-detalles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.pedido-detalles p {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 800;
}

.lista-pedidos {
  margin-top: 20px;
  padding-right: 15px;
  /* Margen superior para separar la lista de pedidos del filtro */
}


.productos-pedido strong {
  font-size: 20px;
}

@media (max-width:533px) {
  .productos-pedido strong {
    font-size: 18px;
  }

  .productos-pedido p {
    font-size: 12px;
  }
}

@media (max-width:433px) {
  .producto-item-panel-2 {
    display: flex;
    flex-wrap: wrap;
  }
}

.pedido-nombre {
  font-size: 1.2em;
  /* Tamaño de fuente para el nombre del producto */
  font-weight: bold;
  /* Texto en negrita */
}

.pedido-cantidad {
  font-size: 1em;
  /* Tamaño de fuente para la cantidad */
}

.pedido-botones {
  margin-top: 10px;
  /* Espacio entre el texto y los botones */
}

.cantidad-boton {
  background-color: #cbcbcb;
  border: none;
  margin: 7px;
  padding: 7px 9px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
}


.estado-boton,
.remito-boton {
  margin-left: 5px;
  /* Espacio a la izquierda de estos botones */
  padding: 5px 10px;
  /* Espaciado interior */
  border: none;
  /* Sin borde */
  border-radius: 4px;
  /* Bordes redondeados */
  background-color: #28a745;
  /* Color de fondo */
  color: white;
  /* Color del texto */
  cursor: pointer;
  /* Cursor de puntero al pasar sobre el botón */
  transition: background-color 0.3s;
  /* Transición suave al cambiar color */
}

.estado-boton:hover,
.remito-boton:hover {
  background-color: #218838;
  /* Color más oscuro al pasar el mouse */
}

.remito-boton:disabled {
  background-color: #6c757d;
  /* Color de fondo para botones deshabilitados */
  cursor: not-allowed;
  /* Cambia el cursor para indicar que está deshabilitado */
}

/* PedidoCard.css */

.pag-pedido-card{
  height: calc(100vh - 144px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-pedido-card {
  max-width: 1000px;
  max-height: 600px;
  overflow-y: auto;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div-pedido-card a{
  text-decoration: none;
  color: black;
}

@media (min-width:700px) {
  .div-pedido-card{
    min-width: 600px;
  }
}

.h2-pedido-card {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.h3-pedido-card {
  font-size: 18px;
  color: #2a6424;
  margin-bottom: 5px;
  margin-top: 10px;
}


.div-section-pedido-card {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.p-pedido-card {
  margin: 5px 0;
}

/* Style for the dashboard */

.dashboard {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: .5rem;
}

.tabs button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background-color: #dddddf;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.summary-cards {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.card {
  width: 150px;
  max-width: 150px;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card.first-card {
  background-color: #81934e;
}

.card.second-card {
  background-color: #1d8a2b;
}

.card.third-card {
  background-color: #5ca2a8;
}

.card.fourth-card {
  background-color: #2d4c4f;
}

.card h3 {
  text-align: start;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.card p {
  text-align: start;
  padding-top: 5px;
  font-size: 14px;
}

.card.green {
  background-color: #7eb280;
}

.card.red {
  background-color: darkslategrey;
}

.categories-cards {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.wrapper-chart {
  display: flex;
  gap: 20px;
}

.chart-container {
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.chart-container h3 {
  padding-bottom: 10px;
}

.categories {
  margin-top: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.categories > h4 {
  text-align: start;
  font-size: 20px;
}

.revenue-chart {
  flex: 1;
}

.categories-chart {
  flex: 1;
}

.card h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.category-chart {
  width: 400px;
  margin-inline: auto;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #111;
}

.active-tab {
  background-color: #7eb280 !important;
}

.wrapper-editar-pedido {
  align-self: flex-start;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.wrapper-editar-pedido .wrapper-editar-pedido-container {
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper-editar-pedido .container-editar-pedido {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
  overflow-y: auto;
}


.wrapper-editar-pedido .container-editar-pedido-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper-editar-pedido .container-editar-pedido-producto {
  width: 300px !important;
}

.wrapper-editar-pedido .container-editar-pedido-default {
  width: 200px;
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  gap: 10px;
}

.wrapper-editar-pedido .container-editar-pedido-default:first-child {
  border-start-start-radius: 10px;
  border-bottom-left-radius: 10px;
}

.wrapper-editar-pedido .container-editar-pedido-default:last-child {
  border-start-end-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wrapper-editar-pedido .container-editar-pedido-default input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
  outline: none;
  background-color: lightgray;
  color: #7eb280;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

/* Remove input arrows in Chrome */
.wrapper-editar-pedido .container-editar-pedido-default input::-webkit-outer-spin-button,
.wrapper-editar-pedido .container-editar-pedido-default input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove input arrows in Firefox */
.wrapper-editar-pedido .container-editar-pedido-default input[type=number] {
  -moz-appearance: textfield;
}

.wrapper-editar-pedido .container-editar-pedido-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper-editar-pedido .header-editar-pedido {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-inline: 40px;
}

.wrapper-editar-pedido .header-editar-pedido-footer {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-inline: 25px;
}

.wrapper-editar-pedido .header-editar-pedido-footer-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 25px;
  padding-inline: 25px;
}

.wrapper-editar-pedido .header-editar-pedido-footer-wrapper span {
  width: 200px;
  background-color: #f0f0f0;
  border-radius: 10px;
  color: black;
  padding: 8px 16px;
  border: none;
}

.wrapper-editar-pedido .header-editar-pedido-footer .btn {
  color: #fff;
  padding: 14px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: #7eb280;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.wrapper-editar-pedido .header-editar-pedido-footer .btn.boton-aceptar-disabled {
  opacity: .5;
  cursor: not-allowed;
}

.wrapper-editar-pedido .header-editar-pedido-footer .boton-cancelar {
  margin-right: 10px;
  background-color: rgb(199, 0, 57);
}

.wrapper-editar-pedido .header-editar-pedido-footer .boton-cancelar:hover {
  background-color: rgb(160, 0, 51) !important;
}

.wrapper-editar-pedido .header-editar-pedido-footer .btn:hover {
  background-color: #2d4d33;
}

.wrapper-editar-pedido h3 {
  font-size: 28px;
}

.wrapper-editar-pedido .header-editar-pedido .btn {
  color: #fff;
  padding: 14px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: #7eb280;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.wrapper-editar-pedido .header-editar-pedido .boton-cancelar {
  margin-right: 10px;
  background-color: rgb(199, 0, 57);
}

.wrapper-editar-pedido .header-editar-pedido .boton-cancelar:hover {
  background-color: rgb(160, 0, 51) !important;
}

.wrapper-editar-pedido .header-editar-pedido .btn:hover {
  background-color: #2d4d33;
}

.wrapper-editar-pedido .container-editar-pedido-acciones-header {
  width: 50px;
}

.wrapper-editar-pedido .container-editar-pedido-acciones {
  width: 200px;
  background-color: #f0f0f0;
  border-start-end-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  color: rgb(160, 0, 51) !important;
}

.wrapper-editar-pedido .container-editar-pedido-acciones:hover {
  background-color: #7eb280;
  transition: 0.2s ease;
}