* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-general-categorias {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
    min-height: 100vh;
    padding-bottom: 20px;
    width: 100%;
    gap: 20px;
}


/* Estilos para el menú de categorías */
.container-categorias-section-categorias {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 85vh;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 1000;
}

.menu-abierto {
    transform: translateX(0);
}

.categorias-header {
    font-size: 24px;
    color: black;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.categorias-lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow-y: auto;
}

.categorias-lista a {
    text-decoration: none;
    font-size: 19px;
    cursor: pointer;
    padding: 10px;
    color: black;
    border-radius: 6px;
    font-weight: 400;
    transition: background-color 0.3s;
}

.categorias-lista a:hover {
    color: #2d4d33;
}

.categorias-lista a:focus {
    color: #2d4d33;
}

.container-boton-filtrado {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.boton-categorias {
    padding: 12px 20px;
    background-color: #7eb280;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.boton-categorias:hover {
    background-color: #2d4d33;
}

.cerrar-menu {
    font-size: 18px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 20px;
}

.container-productos-categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 90%;
}



/* Media queries para pantallas mayores a 1100px */
@media (max-width: 1100px) {
    .container-categorias-section-categorias {
        transform: translateX(-100%); /* Por defecto, menú cerrado */
    }

    .menu-abierto {
        transform: translateX(0); /* Despliega el menú */
    }

    .container-boton-filtrado {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .container-general-categorias {
        flex-direction: column;
        gap: 10px;
    }

    .container-productos-categorias {
        width: 100%;
    }
}

@media (max-width:1000px) {
    .container-categorias-section-categorias{
        top:120px;
        width: 100%;
        height: 87vh; 
    }
}



