/* Estilos generales */
.container-general-marcas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
  padding-bottom: 20px;
  width: 100%;
  gap: 20px;
}

/* Estilos para el menú de marcas */
.container-marcas-section-marcas {
  display: flex;
    flex-direction: column;
    width: 270px;
    height: 85vh; 
    padding: 20px;
    border-radius: 8px;
    background-color: #ffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 1000;
}

.menu-abierto {
  transform: translateX(0); /* Despliega el menú */
}

.marcas-header {
  font-size: 24px;
  font-weight: 500;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.marcas-lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow-y: auto;
}

.marcas-lista a {
  text-decoration: none;
  font-size: 19px;
  padding: 10px;
  cursor: pointer;
  color: black;
  border-radius: 6px;
  font-weight: 400;
  transition: background-color 0.3s;
}

.marcas-lista a:hover {
  color: #2d4d33;
}

.container-boton-filtrado {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.boton-marcas {
  padding: 12px 20px;
  background-color: #7eb280;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.boton-marcas:hover {
  background-color: #2d4d33;
}

.cerrar-menu {
  font-size: 18px;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 20px;
}

/* Estilos para la sección de productos */
.container-productos-marcas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 80%;
}

@media (max-width:1100px) {
  .container-boton-filtrado {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
  }
}

@media (max-width:1000px) {
  .container-marcas-section-marcas{
    top:120px;
    width: 100%;
    height: 87vh;
  }
}

.no-productos {
  display: flex;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.no-productos h3 {
  font-size: 24px;
  color: #333;
  padding: 10px;
}

.no-productos p {
  font-size: 18px;
  color: #666;
}


.no-productos-marc-cat {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.no-productos-marc-cat h3 {
  font-size: 24px;
  color: #333;
  padding: 10px;
}

.no-productos-marc-cat p {
  font-size: 18px;
  color: #666;
}
